process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SE_TO_PE' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/fastq_pe" },
            mode: params.publish_dir_mode,
            pattern: '*.{fastq.gz,stats.tsv}'
        ]
    }

    withName: 'FASTQC_IN' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}.raw" }
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FASTQC_OUT' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}.pe" }
        publishDir = [
            path: { "${params.outdir}/fastqc/pe" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }
}
