params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset for se-to-pe'

    max_cpus   = 2
    max_memory = '4.GB'
    max_time   = '1.h'

    input      = "${projectDir}/assets/samplesheet.csv"
    gap_size     = 10
    jitter_max   = 3
    seed         = 42
    min_mate_len = 30
    outdir     = './results_test'
}
